*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navigation{
    background-color: black;
    color: rgb(84, 86, 88);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.navigation .nav-contentleft{
    font-size: 16px;
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
    font-family: 'Oswald';
    font-weight: 500;
}
.nav-contentleft  li{
    margin-right: 10px;
   
}
.nav-contentright{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    margin-right: 6px;
    font-family: 'Teko';
    font-weight: 600;
    cursor: pointer;
    


}
.nav-contentright li{
    margin-right: 2px;
    background-color: #e2ad0d;
    color: rgb(0, 0, 0);
    padding-top: 25px;
    padding-left: 6px;
    padding-right: 6px;
}
.nav-contentright .ios{
    background-color: rgb(231, 141, 5);
}
.logo{
    margin-right: 10px;
}
.nav-contentright i{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: -10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.l1{
    color: #e2ad0d;
}
.nav-contentleft .l1:hover{
    color: whitesmoke;
}
.nav-contentleft li:hover{
    color: whitesmoke;
}
i:hover{
    color: #e2ad0d;
}
.nav-contentright li:hover{
    background-color: #c59609b7;
}
.mainpage{
width: 100%;
height: 750px;
position: relative;
} 
.mainbg{
width: 100%;
height: 750px;
}
.mainsub{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
}
.mainsub h3{
    font-size: 150px;
    font-family: 'Oswald';
    color: #530c0a;
    padding-left: 30px;
    margin-top: -10%;
    
}
.mainsub .applelogo{
    width: 13%;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    top: 95%;
    left: 15%;
}
.mainsub .playstorelogo{
    width: 15%;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    top: 95%;
    left: 29%
}
.mainpage .kraftonlogo{
    position: absolute;
    bottom: 0;
    left: 75%;
    width: 300px;
}

/* -------------------second division------------------- */


.mainpage2{
    width: 100%;
    height: 800px;
    position: relative;
}
.vdobg{
    width: 100%;
    height: 800px;
}
.subdiv iframe{
   position: absolute;
    width:75%;
    height: 600px;
    top: 18%;
    right: 13%;
}
.mainpage2 h4{
     font-size: 40px;
     color: #333333;
     font-family: 'Teko', 'Oswald', 'sans-serif';
     font-weight: 600;
     position: absolute;
     top: 8%;
     right:40%;
}

/* -------------------third division----------------------- */

.mainpage3{
    width: 100%;
    height: 800px;
    position: relative;
}
.newsbg{
    width: 100%;
    height: 800px;
}
.subdiv3{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 35%;
    left: 10%;
   
}
.subdiv3 img:hover{
    color: #e2ad0d;
   
}

.subdiv3 img{
    width: 65%;
    
}
.issue{
    width: 20%;
    height: 20%;
    border: 1px solid whitesmoke;
    background-color: azure;
    position: absolute;
    top:55%;
    left: 10%;
    text-align: center;
    text-decoration: none;
}
.issue a{
    text-decoration: none;
}
.issue h6{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 20px;
    font-weight: lighter;
    padding: 0px 10px  0px 15px;
    margin: 15px 0px 0px;
}
.issue h5{
color: #333333;
font-family: 'Teko', 'Oswald', 'sans-serif';
font-size: 23px;
margin-top: 15px;
font-weight: lighter;
}

.update{
    width: 20%;
    height: 20%;
    border: 1px solid whitesmoke;
    background-color: azure;
    position: absolute;
    top:55%;
    left: 40%;
    text-align: center;
    text-decoration: none;
}
.update a{
    text-decoration: none;
}
.update h6{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 20px;
    font-weight: lighter;
    padding: 0px 10px  0px 15px;
    margin: 15px 0px 0px;
}
.update h5{
color: #333333;
font-family: 'Teko', 'Oswald', 'sans-serif';
font-size: 20px;
margin-top: 15px;
font-weight: lighter;
}

.notice{
    width: 20%;
    height: 20%;
    border: 1px solid whitesmoke;
    background-color: azure;
    position: absolute;
    top:55%;
    left: 70%;
    text-align: center;
    text-decoration: none;
}
.notice a{
    text-decoration: none;
}
.notice h6{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 20px;
    font-weight: lighter;
    padding: 0px 10px  0px 15px;
    margin: 15px 0px 0px;
}
.notice h5{
color: #333333;
font-family: 'Teko', 'Oswald', 'sans-serif';
font-size: 20px;
margin-top: 15px;
font-weight: lighter;
}
.mainpage3 h4{
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 60px;
    color: #333333;
    font-weight:400;
    position: absolute;
    top: 15%;
    left: 47%;
    
}

.view{
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #333333;
    font-weight:400;
    border: 1px solid whitesmoke;
    border-color: #999;
    background-color: azure;
    width: 10%;
    padding-left: 25px; 
   
    position: absolute;
    top: 90%;
    left: 47%;
}
/*-------------------------------------FOURTH DIVISION--------------------------- */
.mainpage4{
    width: 100%;
    height: 700px;
    position: relative;
}

.add{
    width: 100%;
    height: 700px;
}
.subdiv4{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 34%;
}
.subdiv4 img{
    width: 19%;
    
}
.cyber{
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #333333;
    font-weight:400;
    border: 1px solid whitesmoke;
    border-color: #999;
    background-color: azure;
    width: 19.2%;
    height: 16%;
    padding-left: 25px; 
   position: absolute;
   top: 53.5%;
   left: .7%;
    
}
.cyber p{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 21px;
    font-weight: lighter;
    margin-top: 20px; 
}
.cyber h5{
    color: #333333;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 23px;
    margin-top: 30px;
    font-weight:300;
}

.soul{
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #333333;
    font-weight:400;
    border: 1px solid whitesmoke;
    border-color: #999;
    background-color: azure;
    width: 19%;
    height: 16%;
    padding-left: 25px; 
   position: absolute;
   top: 53.5%;
   left: 20.7%;
}
.soul p{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 21px;
    font-weight: lighter;
    margin-top: 20px;
}
.soul h5{
    color: #333333;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 23px;
    margin-top: 30px;
    font-weight:300;
}
.snax{
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #333333;
    font-weight:400;
    border: 1px solid whitesmoke;
    border-color: #999;
    background-color: azure;
    width: 19%;
    height: 16%;
    padding-left: 25px; 
   position: absolute;
   top: 53.5%;
   left: 40.5%;
}
.snax p{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 21px;
    font-weight: lighter;
    margin-top: 20px;
}
.snax h5{
    color: #333333;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 23px;
    margin-top: 30px;
    font-weight:300;
}
.Casetto {
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #333333;
    font-weight:400;
    border: 1px solid whitesmoke;
    border-color: #999;
    background-color: azure;
    width: 19%;
    height: 16%;
    padding-left: 25px; 
   position: absolute;
   top: 53.5%;
   left: 60.4%;
}
.Casetto p{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 21px;
    font-weight: lighter;
    margin-top: 10px;
}
.Casetto h5{
    color: #333333;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 18px;
    margin-top: 30px;
    font-weight:lighter;
}

.scout {
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #333333;
    font-weight:400;
    border: 1px solid whitesmoke;
    border-color: #999;
    background-color: azure;
    width: 19%;
    height: 16%;
    padding-left: 25px; 
   position: absolute;
   top: 53.5%;
   left: 80.2%;
}
.scout p{
    color: #999;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 21px;
    font-weight: lighter;
    margin-top: 12px;
}
.scout h5{
    color: #333333;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 28px;
    margin-top: 30px;
    font-weight:lighter;
}
.mainpage4 h4{
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-size: 80px;
    color: #ffffff;
    font-weight:400;
    position: absolute;
    top: 20%;
    left: 40%;
}

/* --------------------FIFTH  DIVISION------------------------ */ 

.mainpage5{
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
   
}
   

.pubgmap{
    width: 100%;
    height: 280px;
}
.icon{
    width: 80px;
    position:absolute;
    top: 7%;
    left: 47%;
    cursor: default;

}
.subdiv5{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 457%;
    left: 36%;
    
}
.subdiv5 p{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto';
    color: #333;
    text-align: center;
    

}
.subdiv5 .applelogo{
    width: 30%;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    top: 105%;
    left: 15%;
   cursor: pointer;
}
.subdiv5 .playstorelogo{
    width: 35%;
    border: 1px;
    border-radius: 5px;
    position: absolute;
    top: 105%;
    left: 50%;
    cursor: pointer;
}
.pubgkrafton{
    width: 150px;
    position: absolute;
    top:485%;
    left:47%;
    cursor: pointer;
}
.copyright{
    font-size: 12px;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-weight: normal;
    color: #999999;
    position: absolute;
    top: 484%;
    left: 47%;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 20%;
    color: #999999;
    font-size: 12px;
    font-family: 'Teko', 'Oswald', 'sans-serif';
    font-weight: normal;
    position: absolute;
    top: 493%;
    left: 42%;
    cursor: pointer;
}
.footer .p1:hover{
    color: #ffffff;
}
.footer .p2:hover{
    color: #ffffff;
}
.footer .p3:hover{
    color: #ffffff;
}
.footer .p4:hover{
    color: #ffffff;
}

/* -------------------------end----------------------------- */
